<!DOCTYPE html>
<html ng-app="app">
	<head>
		<base href="/kimberlyclark/">

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Kimberly Clark</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script src="assets/javascripts/vendor/vendor.min.js"></script>

		<link rel="stylesheet" href="assets/stylesheets/normalize.css">
		<link rel="stylesheet" href="assets/stylesheets/app.css">
	</head>
	<body>
		<header id="header">
			<div class="container">
				<a href="#welcome" class="logo" du-smooth-scroll du-scrollspy>
					<img src="assets/images/logo.png" alt="Kimberly Clark">
				</a>
					
				<nav class="nav">
					<ul>
						<li><a href="#catalogs" du-smooth-scroll du-scrollspy offset="-19">Catálogos</a></li>
						<li><a href="#stickers" du-smooth-scroll du-scrollspy offset="-19">Adesivos</a></li>
						<li><a href="#awareness" du-smooth-scroll du-scrollspy offset="-19">Conscientização</a></li>
						<li><a href="#targets" du-smooth-scroll du-scrollspy offset="-19">Targets</a></li>
						<li><a href="#customize" du-smooth-scroll du-scrollspy offset="-19">Personalize o Seu</a></li>
						<li class="login"><a href="" ng-click="showLogin = !showLogin">Login</a></li>
					</ul>
				</nav>

				<div class="login-container" ng-class="{ show : showLogin }">
					<form action="">
						<input type="text" name="username" placeholder="Usuário">
						<input type="password" name="password" placeholder="Senha">

						<button class="button">Enviar</button>
					</form>
				</div>
			</div>
		</header>

		<ng-view></ng-view>

		<script src="assets/javascripts/all.min.js"></script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-XXXXX-X', 'auto');
			ga('send', 'pageview');
		</script>
	</body>
</html>
