@import "reset";
@import "mixins";
@import "carousel";

$orange: rgb(246, 140, 31);
$blue: rgb(11, 135, 201);
$light-blue: #58B9F1;
$green: rgb(141, 199, 63);
$purple: rgb(81, 36, 130);

@include font-face('Museo', 'museo300-regular-webfont', 'Museo', 'serif');
@include font-face('Manus', 'manus-webfont', 'Manus', 'serif');

body {
	font-family: 'Museo';
}

.container {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Manus';
}

h1 {
	font-size: 160px;
}

#header {
	height: 110px;
	position: fixed;
	width: 100%;
	background: rgba($color: rgb(255, 255, 255), $alpha: 0.5); 
	z-index: 3;
	transition: all 150ms ease;
	.login-container {
		position: absolute;
		right: 0;
		top: 110px;
		width: 200px;
		background: $purple;
		padding: 20px;
		opacity: 0;
		visibility: hidden;
		transition: all 150ms ease;
		&.show {
			opacity: 1;
			visibility: visible;
		}
		.button {
			width: 100%;
			font-size: 12px;
			padding: 10px;
			border: 0;
			background: #d2c7df;
			color: $purple;
		}
		input {
			outline: none;
			border: 0;
			padding: 10px;
			font-size: 12px;
			width:  100%;
			box-sizing: border-box;
			margin-bottom: 5px;
			color: #333;
		}
	}
	&.catalogs {
		background: #ffe1be;
		.login-container {
			background: $orange;
			.button {
				background: #ffe1be;
				color: $orange;
			}
		}
		.nav li.login a { background: $orange; }
		.nav li a:after { border-color: $orange; }
	}
	&.stickers {
		background: #c2e1f2;
		.login-container {
			background: $blue;
			.button {
				background: #c2e1f2;
				color: $blue;
			}
		}
		.nav li.login a { background: $blue; }
		.nav li a:after { border-color: $blue; }
	}
	&.awareness {
		background: #e3f2d1;
		.login-container {
			background: $green;
			.button {
				background: #e3f2d1;
				color: $green;
			}
		}
		.nav li.login a { background: $green; }
		.nav li a:after { border-color: $green; }
	}
	&.targets {
		background: #d2c7df;
		.login-container {
			background: $purple;
			.button {
				background: #d2c7df;
				color: $purple;
			}
		}
		.nav li.login a { background: $purple; }
		.nav li a:after { border-color: $purple; }
	}
	&.customize {
		background: #d6eefb;
		.login-container {
			background: $light-blue;
			.button {
				background: #d6eefb;
				color: $light-blue;
			}
		}
		.nav li.login a { background: $light-blue; }
		.nav li a:after { border-color: $light-blue; }
	}
	.logo {
		float: left;
		margin-top: 30px;
		img {
			height: 50px;
			display: block;
		}
	}
	.nav {
		float: right;
		font-size: 0;
		margin-top: 30px;
		text-transform: uppercase;
		li {
			display: inline-block;
			font-size: 14px;
			border-left: 1px solid #525154;
			position: relative;
			&:first-child {
				border: 0;
			}
			&.login {
				border: 0;
				a {
					color: white;
					text-align: center;
					display: block;
					padding: 0;
					background: $purple;
					width: 50px;
					line-height: 50px;
					border-radius: 50%;
					border: 0;
					font-size: 10px;
					&:after {
						display: none;
					}
				}
			}
			a {
				display: block;
				line-height: 30px;
				color: #525154;
				text-decoration: none;
				padding: 0 15px;
				&:after {
					content: '';
					width: 100%;
					height: 41px;
					border-bottom: 5px solid $purple;
					box-sizing: border-box;
					position: absolute;
					bottom: -41px;
					left: 0;
					opacity: 0;
					transition: all 150ms ease;
				}
				&:hover, &.active {
					&:after {
						opacity: 1;
					}
				}
			}
		}
	}
}

.welcome {
	background: url(../images/welcome-bg.jpg) no-repeat;
	color: white;
	.content {
		float: right;
		width: 540px;
		margin-top: 150px;
		text-shadow: 2px 2px 10px rgb(164, 138, 189);
	}
	p {
		line-height: 1.5;
	}
}

.section {
	position: relative;
	background-size: cover;
	height: 100%;
	.modal {
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 10;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 350ms ease;
		&.active {
			opacity: 1;
			visibility: visible;
			.modal-container {
				transform: scale(1)
			}
		}
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			opacity: .8;
			position: absolute;
			left: 0;
			top: 0;
		}
		.modal-container {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -512px;
			margin-top: -208px;
			background: white;
			transform: scale(.9);
			transition: all 350ms ease;
			height: 416px!important;
			.modal-content {
				position: absolute;
				left: 60px;
				right: 60px;
				bottom: 40px;
				top: 170px;
				.carousel {
					width: 100%;
					.single {
						float: left;
						box-sizing: border-box;
						padding: 10px;
						background: #f1f0ef;
						position: relative;
						transition: all 150ms ease;
						border: 5px solid white;
						&:hover {
							color: white;
						}
						.link-to-download {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
						}
						.download {
							width: 50px;
							height: 50px;
							line-height: 50px;
							font-size: 10px;
							text-indent: -1000px;
							overflow: hidden;
							margin: 10px 0 0;
							&:after {
								opacity: 1;
								width: 50px;
								height: 50px;
								background-size: 36px;
								top: 0;
								left: 0;
								transform: translateY(0);
							}
						}
						.image {
							float: left;
							margin-right: 10px;
						}
						p {
							font-size: 12px;
						}
						h5 {
							text-align: center;
							font-family: 'Museo';
							margin-bottom: 10px;
						}
					}
				}
			}
			.owl-nav {
				position: absolute;
				left: -45px;
				right: -45px;
				top: 50%;
				height: 36px;
				transform: translateY(-50%);
				div {
					width: 36px;
					height: 36px;
					border-radius: 50%;
					display: block;
					position: absolute;
					text-align: center;
					color: white;
					line-height: 36px;
					font-size: 20px;
					text-decoration: none;
					&.owl-prev {
						left: 0;
					}
					&.owl-next {
						right: 0;
					}
				}
			}
			.close {
				width: 36px;
				height: 36px;
				border-radius: 50%;
				display: block;
				position: absolute;
				top: 60px;
				right: 40px;
				text-align: center;
				color: white;
				line-height: 36px;
				font-size: 20px;
				text-decoration: none;
			}
			h3 {
				text-align: center;
				font-size: 80px;
				border-bottom: 2px solid;
				display: inline-block;
				position: relative;
				padding: 40px 100px 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.download {
		color: white;
		text-transform: uppercase;
		text-align: center;
		display: block;
		width: 120px;
		line-height: 120px;
		border-radius: 50%;
		text-decoration: none;
		font-size: 14px;
		margin:  40px auto 0;
		transition: all 150ms ease;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			left: 10px;
			top: 10px;
			display: block;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			transition: all 150ms ease;
			opacity: 0;
			background: url(../images/download.png) no-repeat center center;
			background-size: 64px 64px;
			transform: translateY(-10px);
		}
		&:hover {
			&:after {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
	&:not(.welcome) {
		.container {
			height: 100%;
			position: relative;
			z-index: 2;
		}
		.content {
			float: left;
			width: 40%;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			h3 {
				margin-top: 130px;
				font-size: 80px;
				margin-bottom: 40px;
				border-bottom: 2px solid;
			}
			p {
				line-height: 1.5;
			}
			&.right {
				float: right;
				img {
					display: block;
					width: 100%;
					margin-top: 110px;
				}
			}
		}
	}
	&.orange {
		color: $orange;
		.download {
			background: $orange;
			&:after {
				background-color: $orange;
			}
		}
		.circle {
			background: #ffe1be;
		}
		.modal {
			color: $orange;
			&:before {
				background: $orange;
			}
			.modal-container {
				.close, .owl-nav div {
					background: $orange;
				}
				.modal-content .carousel {
					.single {
						&:hover {
							background: $orange;
						}
					}
				}
			}
		}
	}
	&.blue {
		color: $blue;
		.download {
			background: $blue;
			&:after {
				background-color: $blue;
			}
		}
		.circle {
			background: #c2e1f2;
		}
		.modal {
			color: $blue;
			&:before {
				background: $blue;
			}
			.modal-container {
				.close, .owl-nav div {
					background: $blue;
				}
				.modal-content .carousel {
					.single {
						&:hover {
							background: $blue;
						}
					}
				}
			}
		}
	}
	&.light-blue {
		color: $light-blue;
		.download {
			background: $light-blue;
			&:after {
				background-color: $light-blue;
			}
		}
		.circle {
			background: #d6eefb;
		}
		.modal {
			color: $light-blue;
			&:before {
				background: $light-blue;
			}
			.modal-container {
				.close, .owl-nav div {
					background: $light-blue;
				}
				.modal-content .carousel {
					.single {
						&:hover {
							background: $light-blue;
						}
					}
				}
			}
		}
	}
	&.green {
		color: $green;
		.download {
			background: $green;
			&:after {
				background-color: $green;
			}
		}
		.circle {
			background: #e3f2d1;
		}
		.modal {
			color: $green;
			&:before {
				background: $green;
			}
			.modal-container {
				.close, .owl-nav div {
					background: $green;
				}
				.modal-content .carousel {
					.single {
						&:hover {
							background: $green;
						}
					}
				}
			}
		}
	}
	&.purple {
		color: $purple;
		.download {
			background: $purple;
			&:after {
				background-color: $purple;
			}
		}
		.circle {
			background: #d2c7df;
		}
		.modal {
			color: $purple;
			&:before {
				background: $purple;
			}
			.modal-container {
				.close, .owl-nav div {
					background: $purple;
				}
				.modal-content .carousel {
					.single {
						&:hover {
							background: $purple;
						}
					}
				}
			}
		}
	}
}

.circles {
	position: absolute;
	bottom: 0;
	left: 10px;
	opacity: .3
}

.circle {
	width: 120px;
	height: 120px;
	display: block;
	position: absolute;
	border-radius: 50%;
	&:first-child {
		bottom: 0;
		left: 0;
	}
	&:nth-child(2) {
		bottom: 0;
		left: 130px;
	}
	&:nth-child(3) {
		bottom: 0;
		left: 260px;
	}
	&:nth-child(4) {
		bottom: 0;
		left: 390px;
	}
	&:nth-child(5) {
		bottom: 130px;
		left: 0;
	}
	&:nth-child(6) {
		bottom: 130px;
		left: 130px;
	}
	&:nth-child(7) {
		bottom: 130px;
		left: 260px;
	}
	&:nth-child(8) {
		bottom: 130px;
		left: 390px;
	}
	&:nth-child(9) {
		bottom: 260px;
		left: 0;
	}
	&:nth-child(10) {
		bottom: 260px;
		left: 130px;
	}
	&:nth-child(11) {
		bottom: 390px;
		left: 0;
	}
	&:nth-child(12) {
		bottom: 390px;
		left: 130px;
	}
}