html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y; }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel .owl-refresh .owl-item {
  display: none; }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img {
  transform-style: preserve-3d; }

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1; }

@font-face {
  font-family: "Museo";
  src: url("../fonts/Museo/museo300-regular-webfont.eot");
  src: url("../fonts/Museo/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo/museo300-regular-webfont.woff") format("woff"), url("../fonts/Museo/museo300-regular-webfont.ttf") format("truetype"), url("../fonts/Museo/museo300-regular-webfont.svg#Museo") format("svg"); }
@font-face {
  font-family: "Manus";
  src: url("../fonts/Manus/manus-webfont.eot");
  src: url("../fonts/Manus/manus-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Manus/manus-webfont.woff") format("woff"), url("../fonts/Manus/manus-webfont.ttf") format("truetype"), url("../fonts/Manus/manus-webfont.svg#Manus") format("svg"); }
body {
  font-family: 'Museo'; }

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manus'; }

h1 {
  font-size: 160px; }

#header {
  height: 110px;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 3;
  transition: all 150ms ease; }
  #header .login-container {
    position: absolute;
    right: 0;
    top: 110px;
    width: 200px;
    background: #512482;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 150ms ease; }
    #header .login-container.show {
      opacity: 1;
      visibility: visible; }
    #header .login-container .button {
      width: 100%;
      font-size: 12px;
      padding: 10px;
      border: 0;
      background: #d2c7df;
      color: #512482; }
    #header .login-container input {
      outline: none;
      border: 0;
      padding: 10px;
      font-size: 12px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 5px;
      color: #333; }
  #header.catalogs {
    background: #ffe1be; }
    #header.catalogs .login-container {
      background: #f68c1f; }
      #header.catalogs .login-container .button {
        background: #ffe1be;
        color: #f68c1f; }
    #header.catalogs .nav li.login a {
      background: #f68c1f; }
    #header.catalogs .nav li a:after {
      border-color: #f68c1f; }
  #header.stickers {
    background: #c2e1f2; }
    #header.stickers .login-container {
      background: #0b87c9; }
      #header.stickers .login-container .button {
        background: #c2e1f2;
        color: #0b87c9; }
    #header.stickers .nav li.login a {
      background: #0b87c9; }
    #header.stickers .nav li a:after {
      border-color: #0b87c9; }
  #header.awareness {
    background: #e3f2d1; }
    #header.awareness .login-container {
      background: #8dc73f; }
      #header.awareness .login-container .button {
        background: #e3f2d1;
        color: #8dc73f; }
    #header.awareness .nav li.login a {
      background: #8dc73f; }
    #header.awareness .nav li a:after {
      border-color: #8dc73f; }
  #header.targets {
    background: #d2c7df; }
    #header.targets .login-container {
      background: #512482; }
      #header.targets .login-container .button {
        background: #d2c7df;
        color: #512482; }
    #header.targets .nav li.login a {
      background: #512482; }
    #header.targets .nav li a:after {
      border-color: #512482; }
  #header.customize {
    background: #d6eefb; }
    #header.customize .login-container {
      background: #58B9F1; }
      #header.customize .login-container .button {
        background: #d6eefb;
        color: #58B9F1; }
    #header.customize .nav li.login a {
      background: #58B9F1; }
    #header.customize .nav li a:after {
      border-color: #58B9F1; }
  #header .logo {
    float: left;
    margin-top: 30px; }
    #header .logo img {
      height: 50px;
      display: block; }
  #header .nav {
    float: right;
    font-size: 0;
    margin-top: 30px;
    text-transform: uppercase; }
    #header .nav li {
      display: inline-block;
      font-size: 14px;
      border-left: 1px solid #525154;
      position: relative; }
      #header .nav li:first-child {
        border: 0; }
      #header .nav li.login {
        border: 0; }
        #header .nav li.login a {
          color: white;
          text-align: center;
          display: block;
          padding: 0;
          background: #512482;
          width: 50px;
          line-height: 50px;
          border-radius: 50%;
          border: 0;
          font-size: 10px; }
          #header .nav li.login a:after {
            display: none; }
      #header .nav li a {
        display: block;
        line-height: 30px;
        color: #525154;
        text-decoration: none;
        padding: 0 15px; }
        #header .nav li a:after {
          content: '';
          width: 100%;
          height: 41px;
          border-bottom: 5px solid #512482;
          box-sizing: border-box;
          position: absolute;
          bottom: -41px;
          left: 0;
          opacity: 0;
          transition: all 150ms ease; }
        #header .nav li a:hover:after, #header .nav li a.active:after {
          opacity: 1; }

.welcome {
  background: url(../images/welcome-bg.jpg) no-repeat;
  color: white; }
  .welcome .content {
    float: right;
    width: 540px;
    margin-top: 150px;
    text-shadow: 2px 2px 10px #a48abd; }
  .welcome p {
    line-height: 1.5; }

.section {
  position: relative;
  background-size: cover;
  height: 100%; }
  .section .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 350ms ease; }
    .section .modal.active {
      opacity: 1;
      visibility: visible; }
      .section .modal.active .modal-container {
        transform: scale(1); }
    .section .modal:before {
      content: '';
      width: 100%;
      height: 100%;
      opacity: .8;
      position: absolute;
      left: 0;
      top: 0; }
    .section .modal .modal-container {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -512px;
      margin-top: -208px;
      background: white;
      transform: scale(0.9);
      transition: all 350ms ease;
      height: 416px !important; }
      .section .modal .modal-container .modal-content {
        position: absolute;
        left: 60px;
        right: 60px;
        bottom: 40px;
        top: 170px; }
        .section .modal .modal-container .modal-content .carousel {
          width: 100%; }
          .section .modal .modal-container .modal-content .carousel .single {
            float: left;
            box-sizing: border-box;
            padding: 10px;
            background: #f1f0ef;
            position: relative;
            transition: all 150ms ease;
            border: 5px solid white; }
            .section .modal .modal-container .modal-content .carousel .single:hover {
              color: white; }
            .section .modal .modal-container .modal-content .carousel .single .link-to-download {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0; }
            .section .modal .modal-container .modal-content .carousel .single .download {
              width: 50px;
              height: 50px;
              line-height: 50px;
              font-size: 10px;
              text-indent: -1000px;
              overflow: hidden;
              margin: 10px 0 0; }
              .section .modal .modal-container .modal-content .carousel .single .download:after {
                opacity: 1;
                width: 50px;
                height: 50px;
                background-size: 36px;
                top: 0;
                left: 0;
                transform: translateY(0); }
            .section .modal .modal-container .modal-content .carousel .single .image {
              float: left;
              margin-right: 10px; }
            .section .modal .modal-container .modal-content .carousel .single p {
              font-size: 12px; }
            .section .modal .modal-container .modal-content .carousel .single h5 {
              text-align: center;
              font-family: 'Museo';
              margin-bottom: 10px; }
      .section .modal .modal-container .owl-nav {
        position: absolute;
        left: -45px;
        right: -45px;
        top: 50%;
        height: 36px;
        transform: translateY(-50%); }
        .section .modal .modal-container .owl-nav div {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: block;
          position: absolute;
          text-align: center;
          color: white;
          line-height: 36px;
          font-size: 20px;
          text-decoration: none; }
          .section .modal .modal-container .owl-nav div.owl-prev {
            left: 0; }
          .section .modal .modal-container .owl-nav div.owl-next {
            right: 0; }
      .section .modal .modal-container .close {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 60px;
        right: 40px;
        text-align: center;
        color: white;
        line-height: 36px;
        font-size: 20px;
        text-decoration: none; }
      .section .modal .modal-container h3 {
        text-align: center;
        font-size: 80px;
        border-bottom: 2px solid;
        display: inline-block;
        position: relative;
        padding: 40px 100px 0;
        left: 50%;
        transform: translateX(-50%); }
  .section .download {
    color: white;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 120px;
    line-height: 120px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
    margin: 40px auto 0;
    transition: all 150ms ease;
    position: relative; }
    .section .download:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 10px;
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      transition: all 150ms ease;
      opacity: 0;
      background: url(../images/download.png) no-repeat center center;
      background-size: 64px 64px;
      transform: translateY(-10px); }
    .section .download:hover:after {
      opacity: 1;
      transform: translateY(0); }
  .section:not(.welcome) .container {
    height: 100%;
    position: relative;
    z-index: 2; }
  .section:not(.welcome) .content {
    float: left;
    width: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
    .section:not(.welcome) .content h3 {
      margin-top: 130px;
      font-size: 80px;
      margin-bottom: 40px;
      border-bottom: 2px solid; }
    .section:not(.welcome) .content p {
      line-height: 1.5; }
    .section:not(.welcome) .content.right {
      float: right; }
      .section:not(.welcome) .content.right img {
        display: block;
        width: 100%;
        margin-top: 110px; }
  .section.orange {
    color: #f68c1f; }
    .section.orange .download {
      background: #f68c1f; }
      .section.orange .download:after {
        background-color: #f68c1f; }
    .section.orange .circle {
      background: #ffe1be; }
    .section.orange .modal {
      color: #f68c1f; }
      .section.orange .modal:before {
        background: #f68c1f; }
      .section.orange .modal .modal-container .close, .section.orange .modal .modal-container .owl-nav div {
        background: #f68c1f; }
      .section.orange .modal .modal-container .modal-content .carousel .single:hover {
        background: #f68c1f; }
  .section.blue {
    color: #0b87c9; }
    .section.blue .download {
      background: #0b87c9; }
      .section.blue .download:after {
        background-color: #0b87c9; }
    .section.blue .circle {
      background: #c2e1f2; }
    .section.blue .modal {
      color: #0b87c9; }
      .section.blue .modal:before {
        background: #0b87c9; }
      .section.blue .modal .modal-container .close, .section.blue .modal .modal-container .owl-nav div {
        background: #0b87c9; }
      .section.blue .modal .modal-container .modal-content .carousel .single:hover {
        background: #0b87c9; }
  .section.light-blue {
    color: #58B9F1; }
    .section.light-blue .download {
      background: #58B9F1; }
      .section.light-blue .download:after {
        background-color: #58B9F1; }
    .section.light-blue .circle {
      background: #d6eefb; }
    .section.light-blue .modal {
      color: #58B9F1; }
      .section.light-blue .modal:before {
        background: #58B9F1; }
      .section.light-blue .modal .modal-container .close, .section.light-blue .modal .modal-container .owl-nav div {
        background: #58B9F1; }
      .section.light-blue .modal .modal-container .modal-content .carousel .single:hover {
        background: #58B9F1; }
  .section.green {
    color: #8dc73f; }
    .section.green .download {
      background: #8dc73f; }
      .section.green .download:after {
        background-color: #8dc73f; }
    .section.green .circle {
      background: #e3f2d1; }
    .section.green .modal {
      color: #8dc73f; }
      .section.green .modal:before {
        background: #8dc73f; }
      .section.green .modal .modal-container .close, .section.green .modal .modal-container .owl-nav div {
        background: #8dc73f; }
      .section.green .modal .modal-container .modal-content .carousel .single:hover {
        background: #8dc73f; }
  .section.purple {
    color: #512482; }
    .section.purple .download {
      background: #512482; }
      .section.purple .download:after {
        background-color: #512482; }
    .section.purple .circle {
      background: #d2c7df; }
    .section.purple .modal {
      color: #512482; }
      .section.purple .modal:before {
        background: #512482; }
      .section.purple .modal .modal-container .close, .section.purple .modal .modal-container .owl-nav div {
        background: #512482; }
      .section.purple .modal .modal-container .modal-content .carousel .single:hover {
        background: #512482; }

.circles {
  position: absolute;
  bottom: 0;
  left: 10px;
  opacity: 0.3; }

.circle {
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  border-radius: 50%; }
  .circle:first-child {
    bottom: 0;
    left: 0; }
  .circle:nth-child(2) {
    bottom: 0;
    left: 130px; }
  .circle:nth-child(3) {
    bottom: 0;
    left: 260px; }
  .circle:nth-child(4) {
    bottom: 0;
    left: 390px; }
  .circle:nth-child(5) {
    bottom: 130px;
    left: 0; }
  .circle:nth-child(6) {
    bottom: 130px;
    left: 130px; }
  .circle:nth-child(7) {
    bottom: 130px;
    left: 260px; }
  .circle:nth-child(8) {
    bottom: 130px;
    left: 390px; }
  .circle:nth-child(9) {
    bottom: 260px;
    left: 0; }
  .circle:nth-child(10) {
    bottom: 260px;
    left: 130px; }
  .circle:nth-child(11) {
    bottom: 390px;
    left: 0; }
  .circle:nth-child(12) {
    bottom: 390px;
    left: 130px; }

/*# sourceMappingURL=app.css.map */
