	<section class="section welcome" id="welcome">
		<div class="container">
			<div class="content">
				<h1>Bem-Vindo</h1>
				<p>Para facilitar ainda mais a sua vida, a Kimberly-Clark Professional* reuniu neste site todos os materiais de comunicação necessários para o seu negócio e do seu cliente. Para fazer o download, basta acessar a categoria desejada e escolher uma das opções.</p>
			</div>
		</div>
	</section>
	
	<section class="section catalogs orange" id="catalogs">
		<div class="container">
			<div class="content">
				<h3>Catálogos</h3>
				<p>Seja na escola, na faculdade, na empresa ou no condomínio, higiene e bem-estar são fundamentais. Faça o download de nossos catálogos e confira tudo o que a Kimberly-Clark tem a oferecer.</p>
				
				<a href="" class="download" ng-click="openModal($event)">Download</a>
			</div>
			
			<div class="content right">
				<img src="http://kimberlyclark.ctrlpaper.com.br/wp-content/themes/duesc/extras/images/main/top/img-adesivos.jpg">
			</div>
		</div>

		<div class="modal">
			<div class="modal-container container">
				<h3>Catálogos</h3>

				<a href="" class="close" ng-click="closeModal($event)">x</a>

				<div class="modal-content">
					<div class="carousel">
						<div class="single">
							<h5>Guia de Produtos</h5>
							<div class="image">
								<img src="http://www.placecage.com/100/130">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<span class="download">Download</span>

							<a href="" class="link-to-download"></a>
						</div>
						<div class="single">
							<h5>Guia de Produtos</h5>
							<div class="image">
								<img src="http://www.placecage.com/100/130">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<span class="download">Download</span>

							<a href="" class="link-to-download"></a>
						</div>
						<div class="single">
							<h5>Guia de Produtos</h5>
							<div class="image">
								<img src="http://www.placecage.com/100/130">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<span class="download">Download</span>

							<a href="" class="link-to-download"></a>
						</div>
						<div class="single">
							<h5>Guia de Produtos</h5>
							<div class="image">
								<img src="http://www.placecage.com/100/130">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<span class="download">Download</span>

							<a href="" class="link-to-download"></a>
						</div>
						<div class="single">
							<h5>Guia de Produtos</h5>
							<div class="image">
								<img src="http://www.placecage.com/100/130">
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
							<span class="download">Download</span>

							<a href="" class="link-to-download"></a>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</section>
	
	<section class="section stickers blue" id="stickers">
		<div class="container">
			<div class="content">
				<h3>Adesivos</h3>
				<p>Aqui você pode fazer o download de adesivos com instruções para a utilização correta de nossos produtos, otimizando o seu uso e preservando a natureza.</p>
				
				<a href="" class="download">Download</a>
			</div>
			
			<div class="content right">
				<img src="http://kimberlyclark.ctrlpaper.com.br/wp-content/themes/duesc/extras/images/main/top/img-adesivos.jpg">
			</div>
		</div>
	</section>
	
	<section class="section awareness green" id="awareness">
		<div class="container">
			<div class="content">
				<h3>Conscientização</h3>
				<p>Ajude a preservar o meio ambiente fazendo o download de nossos cartazes de conscientização.</p>
				
				<a href="" class="download">Download</a>
			</div>
			
			<div class="content right">
				<img src="http://kimberlyclark.ctrlpaper.com.br/wp-content/themes/duesc/extras/images/main/top/img-adesivos.jpg">
			</div>
		</div>
	</section>
	
	<section class="section targets purple" id="targets">
		<div class="container">
			<div class="content">
				<h3>Targets</h3>
				<p>Os dispensers também podem passar um recado com nossos Targets sobre sustentabilidade e conscientização. Faça já o download e deixe o seu dispenser cheio de conteúdo.</p>
				
				<a href="" class="download">Download</a>
			</div>
			
			<div class="content right">
				<img src="http://kimberlyclark.ctrlpaper.com.br/wp-content/themes/duesc/extras/images/main/top/img-adesivos.jpg">
			</div>
		</div>
	</section>
	
	<section class="section customize light-blue" id="customize">
		<div class="container">
			<div class="content">
				<h3>Personalize o Seu</h3>
				<p>Agora você pode ter um e-mail MKT da Kimberly-Clark Professional* personalizado para a sua empresa. Insira o seu logo, escolha a mensagem que quer comunicar aos seus colaboradores e faça o download.</p>
				
				<a href="" class="download">Download</a>
			</div>
			
			<div class="content right">
				<img src="http://kimberlyclark.ctrlpaper.com.br/wp-content/themes/duesc/extras/images/main/top/img-adesivos.jpg">
			</div>
		</div>
	</section>